<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %>
</head>
<body>
    <%- include("../partials/navigation.ejs")  %>
    <div class="about-container">
        <h1>About Us</h1>
        <p>Welcome to our website! We are a passionate team dedicated to providing high-quality products and services. Our mission is to...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod ligula et neque ullamcorper, at luctus lorem ullamcorper...</p>
        <p>Feel free to explore our website and discover the amazing products we offer. If you have any questions or inquiries, don't hesitate to...</p>
    </div>
</body>
</html>